# Folders
.vscode
node_modules
dist
coverage

# Tmps
!tmp/.gitkeep
tmp/user/*
!tmp/user/.gitkeep
tmp/products/*
!tmp/products/.gitkeep
tmp/store/*
!tmp/store/.gitkeep

# CONFIGS
ormconfig.json
.env

# YARN
package-lock.json
yarn.lock
