# Folders
.vscode
node_modules
dist
coverage

# Tmps
!tmp/.gitkeep
tmp/avatar/*
!tmp/avatar/.gitkeep
tmp/products/*
!tmp/products/.gitkeep

# CONFIGS
ormconfig.json
.env

# YARN
package-lock.json
yarn.lock
