<div style="width: 36rem;margin: 0 auto;padding: 1rem;outline: 0;box-sizing: border-box;text-rendering: optimizelegibility !important;-webkit-font-smoothing: antialiased !important;background-color: #4a4f69;">
	<img src={{image}} alt="Logo da Luar"  style="height: 10rem;width: 10rem;margin: 0 13rem 1rem 13rem;"/>

	<div style="width: 32rem;margin: auto;padding: 1rem;border-radius: 0.5rem;background-color: #f7f8f9;font-family: Arial, Helvetica, sans-serif;font-size: 1rem;color: #1e202b;">
		<p> Olá, <strong>{{name}}</strong> </p>
		<p> Você criou uma conta na loja <strong>Luar - Roupas e Acessórios. </strong></p>
		<p> Se foi você, então clique no link abaixo para ativar sua conta: </p>
		</br>

		<a href="{{link}}" style="margin: auto;padding: 10px;background-color: #1e202b;border-radius: 5px;color: #f7f8f9;text-decoration: none;transition: background-color 0.2s ease-out;">
			Confirmar
		</a>

		<p style="margin: 2rem auto;font-weight: normal;color: #1e202b60;transition: color 0.2s ease-out;">
			Se não foi você, então descarte esse email!
		</p>

		<p>
			Obrigado! <br />
			<strong> Equipe Luar </strong>
		</p>
	</div>
</div>
